body {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    /*background-color: teal;*/
}

/*a {
  border: 1px solid red; es la misma propiedad del border pero no aumenta ningún pixeles en los elementos
}*/
.button {
    position: relative;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 200px;
    line-height: 200px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-family: helvetica;
    font-weight: bold;
    font-size: 1.55em;
    letter-spacing: 0.2em;
    color: #117aa0;
    /*outline: none;*/
    -webkit-transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
    -o-transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
    transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
}

.button:before , .button:after{
  content: '';
  /*background-color: teal;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #117aa0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
  -o-transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
  transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
}

.button:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.button:after {
  background: #117aa0;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  z-index: -1;
}

.button:hover {
  color: #FFFFFF;
}

.button:hover:before {
  -webkit-transform: scale(0.83);
      -ms-transform: scale(0.83);
          transform: scale(0.83);
}
.button:hover:after {
  -webkit-transform: scale(0.83);
      -ms-transform: scale(0.83);
          transform: scale(0.83);
  opacity: 1;
}

a {
  display: block;
}
