body {
	height: 100vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	/*background-color: teal;*/
}

/*a {
	border: 1px solid red; es la misma propiedad del border pero no aumenta ningún pixeles en los elementos
}*/
.button {
  	position: relative;
  	text-decoration: none;
  	text-align: center;
  	display: block;
  	width: 200px;
  	line-height: 200px;
  	border-radius: 50%;
  	font-family: helvetica;
  	font-weight: bold;
  	font-size: 1.55em;
  	letter-spacing: 0.2em;
  	color: #117aa0;
  	/*outline: none;*/
  	-moz-transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
  	-webkit-transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
  	transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
}

.button:before , .button:after{
  content: '';
  /*background-color: teal;*/
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #117aa0;
  border-radius: 50%;
  transform-origin: center;
  -moz-transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
  -webkit-transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
	transition: 1.4s cubic-bezier(0.55, -0.45, 0.22, 2.2);
}

.button:before {
  transform: scale(1);
}

.button:after {
  background: #117aa0;
  opacity: 0;
  transform: scale(0);
  z-index: -1;
}

.button:hover {
  color: #FFFFFF;
}

.button:hover:before {
  transform: scale(0.83);
}
.button:hover:after {
  transform: scale(0.83);
  opacity: 1;
}

